

<% if @participants_count != 0 && @participants  %>

<%= paginate @participants %>

  <tbody>
    <% @participants.each do |participant| %>
      <div id="patron_<%= participant.id %>"class="patron_card">  
        
        <h3> <%= participant.first_name %> <%= participant.last_name %> </h3> 
        <p> 
           <strong>Age:</strong> <%= participant.age %>, 
           <strong>Club:</strong> <%= participant.club %>,  
        </p>
        <p>
          <strong>Home Library:</strong> <%= participant.home_library %>, 
          <%if  participant.library_card? %>
            <strong>Library Card:</strong> <%= participant.library_card %>,
          <% end %>
          <% if participant.school? && participant.school != 'undefined' %>
            <strong>School:</strong> <%= participant.school %>,
          <% end %>    
        </p>
        <p>
          <h3>Weekly Reports</h3>
          <ul id="week_list" style="list-style: none">
            <li> 
              <input type="checkbox" class="week_report" value="<%= participant.id %>-1" <%=week_helper(participant.week_1)%>> 
              Week 1 (June 19 - June 25) 
            </li>
            <li>
              <input type="checkbox" class="week_report" value="<%= participant.id %>-2" <%=week_helper(participant.week_2)%>>  
              Week 2 (June 26 - July 02) 
            </li>
            <li> 
              <input type="checkbox" class="week_report" value="<%= participant.id %>-3" <%=week_helper(participant.week_3)%>> 
              Week 3 (July 03 - July 09)
            </li>
            <li>
              <input type="checkbox" class="week_report" value="<%= participant.id %>-4" <%=week_helper(participant.week_4)%>>  
              Week 4 (July 10 - July 16)
            </li>
            <li>
              <input type="checkbox" class="week_report" value="<%= participant.id %>-5" <%=week_helper(participant.week_5)%>>  
              Week 5 (July 17 - July 23)
            </li>
            <li>
              <input type="checkbox" class="week_report" value="<%= participant.id %>-6" <%=week_helper(participant.week_6)%>> 
              Week 6 (July 24 - July 31)
            </li>
          </ul>
        </p>
        <p>
          <% if participant.got_reading_kit == false %> 
          <input type="checkbox" class="got_kit" value="<%= participant.id %>">
          <% else %>
          <input type="checkbox" class="already_got_kit" value="<%= participant.id %>" checked disabled>
          <% end %>
          Received reading Kit 
        </p>
        <%if participant.week_1 == true && 
          participant.week_2 == true && 
          participant.week_3 == true &&
          participant.week_4 == true &&
          participant.week_5 == true &&
          participant.week_6 == true && %> 
          <p>  
            <% if participant.got_final_prize == false %> 
            <input type="checkbox" class="got_prize" value="<%= participant.id %>">
            <% else %>
            <input type="checkbox" class="already_got_prize" value="<%= participant.id %>" checked disabled>
            <% end %>
            <b>Got Final Award</b>
          </p>
        <% end %>
        <a href="/main/edit_patron?id=<%= participant.id %>">Edit</a>
      </div>
    <% end %>

<%else%>
  <p> No patrons found </p>
<% end %> 


