

<% if @participants_count != 0  %>

<%= paginate @participants %>

  <tbody>
    <% @participants.each do |participant| %>
      <div id="patron_<%= participant.id %>"class="patron_card">  
        
        <h3> <%= participant.first_name %> <%= participant.last_name %> </h3> 
        <p> 
           <strong>Age:</strong> <%= participant.age %>, 
           <strong>Club:</strong> <%= participant.club %>, 
           <strong>Experience Count:</strong> <%= participant.awards.count %>, 
        </p>
        <p>
          <strong>Home Library:</strong> <%= participant.home_library %>, 
          <%if  participant.library_card? %>
            <strong>Library Card:</strong> <%= participant.library_card %>,
          <% end %>
          <% if participant.school? && participant.school != 'undefined' %>
            <strong>School:</strong> <%= participant.school %>
          <% end %>    
        </p>
        <p>
         Experiences: </br>
          <% participant.awards.each do |a| %>
            <div class="patron_badge center">
              <img src="<%= a.experience.image_url %>" class="award">
              <br>
              <%= a.experience.name %>
            </div>     
          <% end %>
            <div class="clear_div"></div>
           <br>
          <select id="award_form_<%= participant.id %>">
            <option value="">Select Experience</option>
          <% participant.unearned_experiences.each do |e| %>
            <option value="<%= e.id %>"><%= e.name %></option>            
          <% end %>
          </select>
          <a onclick="award_experience('<%= participant.id %>')">Award</a>
        </p>
        <p>
          <% if participant.got_reading_kit == false %> 
          <input type="checkbox" class="got_kit" value="<%= participant.id %>">
          <% else %>
          <input type="checkbox" class="already_got_kit" value="<%= participant.id %>" checked disabled>
          <% end %>
          Received reading Kit 
        </p>
        <%if participant.awards.count >= 6 %>
          <p>  
            <% if participant.got_final_prize == false %> 
            <input type="checkbox" class="got_prize" value="<%= participant.id %>">
            <% else %>
            <input type="checkbox" class="already_got_prize" value="<%= participant.id %>" checked disabled>
            <% end %>
            Got Award
          </p>
        <% end %>
        <p style=""> 
          <td><%= participant.library_card %></td>
          <td><%= participant.email %></td>
          <td><%= participant.zip_code %></td>
          <td><%= participant.home_library %></td>
          <td><%= participant.school %></td>
          <td><%= participant.grade %></td>
        </p>
      </div>
    <% end %>

<%else%>
  <p> No patrons found </p>
<% end %> 


