<div id="award_patron_<%= patron.id %>">
<h3>Your Reading Hours: (<a onclick="hide_hour_div('<%= patron.id %>')">close</a>)</h3>


<% if Date.parse('2016-6-19') < Date.today %>
  	<h4>Week #1 (June 20 to June 26) </h4>
  	Hours reported for Week #1: <input id="week_1" size="3" value="<%= patron.week(1) %>"></input><button onclick="add_hours(1,'<%= patron.id %>','<%= patron.library_card %>')">Update</button>
<% end %>
<% if Date.parse('2016-6-26') < Date.today %>
  	<h4>Week #2 (June 27 to July 3)</h4>
  	Hours reported for Week #2: <input id="week_2" size="3" value="<%= patron.week(2) %>"></input><button onclick="add_hours(2,'<%= patron.id %>','<%= patron.library_card %>')">Update</button>
<% end %>
<% if Date.parse('2016-7-3') < Date.today %>
	<h4>Week #3 (July 4 to July 10) </h4>
	Hours reported for Week #3: <input id="week_3" size="3" value="<%= patron.week(3) %>"></input><button onclick="add_hours(3,'<%= patron.id %>','<%= patron.library_card %>')">Update</button>
<% end %>
<% if Date.parse('2016-7-10') < Date.today  %>
	<h4>Week #4 (July 11 to July 17)</h4>
	Hours reported for Week #4: <input id="week_4" size="3" value="<%= patron.week(4) %>"></input><button onclick="add_hours(4,'<%= patron.id %>','<%= patron.library_card %>')">Update</button>
<% end %>
<% if Date.parse('2016-7-17') < Date.today %>
	<h4>Week #5 (July 18 to July 24)</h4>
	Hours reported for Week #5: <input id="week_5" size="3" value="<%= patron.week(5) %>"></input><button onclick="add_hours(5,'<%= patron.id %>','<%= patron.library_card %>')">Update</button>
<% end %>
<% if Date.parse('2016-7-24') < Date.today %>
	<h4>Week #6 (July 25 to July 31)</h4>
	Hours reported for Week #6: <input id="week_6" size="3" value="<%= patron.week(6) %>"></input><button onclick="add_hours(6,'<%= patron.id %>','<%= patron.library_card %>')">Update</button>
<% end %>
<h3>Total Hours: <%= patron.total_hours %></h3> 
</div>          