<h2>Editing: <%= @patron.first_name %>  <%= @patron.last_name %> </h2>

<h3>Basic Info: (click update button to save)</h3>
	<div class="sign_up_form_left">
		First Name:<br> 
		<input class="full_width required required_staff sign_up_element" type="text" id="first_name" value="<%= @patron.first_name %>">
	</div> 
	<div class="sign_up_form_right">
		Last Name: <br>
		<input class="full_width required required_staff sign_up_element" type="text" id="last_name" value="<%= @patron.last_name %>"> 
	</div>
	<div class="clear_div"></div>
	<div class="sign_up_form_left">
		Age: <br>
		<%= select_tag 'age', options_for_select(@age, @patron.age), {:class => 'required sign_up_element'} %>
	</div>
	<% if @group_variable == 'teen' || @group_variable == 'youth' %>
	<div class="sign_up_form_left">
		Grade (in Fall):<br> 
		<select  id="grade" class="required sign_up_element">
			<option selected="selected" value="<%= @patron.grade %>"><%= @patron.grade %></option>
				<% @grades.each do |grade| %>
					<option value="<%= grade %>"><%= grade %></option>
				<% end %>	
		</select>
	</div>
	<% end %>	
	<div class="clear_div"></div>


	<% if @group_variable == 'teen' || @group_variable == 'youth' %>
	<div class="sign_up_form_right">
		School: <br>
		<select  id="school" class="required sign_up_element">
			<option selected="selected" value="<%= @patron.school %>"><%= @patron.school %></option>
				<% @schools.each do |school| %>
					<option value="<%= school %>"><%= school %></option>
				<% end %>	
		</select>
	</div>
	<% end %>
	<div class="clear_div"></div>
	<div class="sign_up_form_left">
		Home Zip Code:<br> 
		<input class="half_width required sign_up_element" type="number" id="zip_code" value="<%= @patron.zip_code %>">
	</div>
	<div class="sign_up_form_left">
		Home Library: <br> 
		<select  id="home_library" class="required sign_up_element">
			<option selected="selected" value="<%= @patron.home_library %>"><%= @patron.home_library %></option>
			<% @libraries.each do |library| %>
  				<option value="<%= library %>"><%= library %></option>
  			<% end %>
		</select>
	</div>
	<div class="clear_div"></div>
	<div class="sign_up_form_left">
		Email (optional):<br>
	 	<input class="full_width sign_up_element" type="email" id="email" value="<%= @patron.email %>">
	</div>
	<div class="sign_up_form_left">
		Library Card # (optional):<br>
		<input class="full_width sign_up_element" id="library_card" value="<%= @patron.library_card %>">
	</div>
	<div class="clear_div"></div>
	<button onclick="update_patron_info()">Update</button>
	<h3>Participation Info: (changes saved automagically) </h3>
	<h4>Experiences</h4>
	<ul>	
		<% @patron.awards.each do |a| %>
			<li id="<%= a.experience.id %>"> <%= a.experience.name %> <a style="color: #FF0000" onclick="delete_award('<%= a.experience.id %>')">Delete</a></li>
		<% end %>
	</ul>
	<h4>Status</h4>
	<ul>
	
		<li>
			<% if @patron.got_final_prize == false %> 
            	<input type="checkbox" class="edit_got_prize" value="<%= @patron.id %>">
        	<% else %>
            	<input type="checkbox" class="edit_got_prize" value="<%= @patron.id %>" checked>	
        	<% end %>	
        	Got Award	
		</li>
		<li>
			<% if @patron.got_reading_kit == false %> 
          		<input type="checkbox" class="edit_got_kit" value="<%= @patron.id %>">
          	<% else %>
          		<input type="checkbox" class="edit_got_kit" value="<%= @patron.id %>" checked>
          	<% end %>
         	Received reading Kit
		</li>
	
	</ul>	
</div>

