<style type="text/css">
#background_img{
	display: block;
}

#content{ background-color: transparent; }

#top_bar{
  opacity: .9;
}

#menu_widget{
  opacity: .9;
}
</style>

<div id="sign_up">
<div id="sign_up_form">
<h2><%= @group_name %> Registration</h2>
<form id="myform" autocomplete="off">	
	<div class="sign_up_form_left">
		First Name:<br> 
		<input class="full_width required required_staff sign_up_element" type="text" id="first_name">
	</div> 
	<div class="sign_up_form_right">
		Last Name: <br>
		<input class="full_width required required_staff sign_up_element" type="text" id="last_name"> 
	</div>
	<div class="clear_div"></div>
	<div class="sign_up_form_left">
		Age: <br>
		<%= select_tag 'age', options_for_select(@age), {:class => 'required sign_up_element', :prompt => "Select Your Age"} %>
	</div>
	<% if @group_variable == 'teen' || @group_variable == 'youth' %>
	<div class="sign_up_form_left">
		Grade (in Fall):<br> 
		<select  id="grade" class="required sign_up_element">
			<option disabled="disabled" selected="selected">Select Your Grade</option>
				<% @grades.each do |grade| %>
					<option value="<%= grade %>"><%= grade %></option>
				<% end %>	
		</select>
	</div>
	<% end %>	
	<div class="clear_div"></div>


	<% if @group_variable == 'teen' || @group_variable == 'youth' %>
	<div class="sign_up_form_right">
		School: <br>
		<select  id="school" class="required sign_up_element">
			<option disabled="disabled" selected="selected">Select Your School</option>
				<% @schools.each do |school| %>
					<option value="<%= school %>"><%= school %></option>
				<% end %>	
		</select>
	</div>
	<% end %>
	<div class="clear_div"></div>
	<div class="sign_up_form_left">
		Home Zip Code:<br> 
		<input class="half_width required sign_up_element" type="number" id="zip_code">
	</div>
	<div class="sign_up_form_left">
		Home Library: <br> 
		<select  id="home_library" class="required sign_up_element">
			<option disabled="disabled" selected="selected">Select a Location</option>
			<% @libraries.each do |library| %>
  				<option value="<%= library %>"><%= library %></option>
  			<% end %>
		</select>
	</div>
	<div class="clear_div"></div>
	<div class="sign_up_form_left">
		Email (optional):<br>
	 	<input class="full_width sign_up_element" type="email" id="email">
	</div>
	<div class="sign_up_form_left">
		Library Card # (optional):<br>
		<input class="full_width sign_up_element" id="library_card">
	</div>
	<div class="clear_div"></div>
	<% if current_user %> 
		<div class="sign_up_form_left">
			<input class="sign_up_element" type="checkbox" id="got_kit">
			Recieved Reading Kit
		</div>
		<div class="clear_div"></div>
	<% end %>
	<div class="center">
	<p>
	<% if current_user %> 
		<a class="register_button" onclick="register('<%= @group_variable %>', 'staff')">Register</a>
	<% else %>
		<a class="register_button" onclick="register('<%= @group_variable %>')">Register</a>
	<% end %>
	</p>
	</div>
</form>	
</div>

<div id="messages">
</div>
</div>