<!DOCTYPE html>
<html>
<head>
  <title>Summer Reading</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top_bar">
	<% if current_user && check_for_approved %>
		<div id="menu_button_div">
			<a onclick="toggle_menu()">
				<i class="fa fa-bars fa-lg"></i> 
			</a>
		</div>
	<% end %>
	<div id="home_div">
		<a href="/main/index">
			<i class="fa fa-home fa-lg"></i> Summer-Reading
		</a>
	</div>
	<% if current_user %>
		<% if check_for_approved %>
			<div id="search_div">			
				<input type="text" id="search_by_name" placeholder="Search by Name" >
				<a onclick="search_by_name()">GO</a>
				<input type="text" id="search_by_card" placeholder="Search by Card #">
				<a onclick="search_by_card()">GO</a>
			</div>
		<% end %>
		<div id="login_div">
			<strong><%= current_user.name %></strong>
    		<%= link_to "logout", signout_path, id: "sign_out" %>
		</div>	
	<% else %>
		<div id="login_div">
			<%= link_to "Staff Login", "/auth/google_oauth2", id: "sign_in" %>
		</div>
	<% end %>	
	<div style="clear_div"></div>			
</div>

<div id="menu_widget">
  <% if current_user %>
    <a href="/main/admin_manage">Staff Users</a><br />
    <% if check_for_approved %>
      <a href="/main/patron_list">Registered Patrons</a><br />
      <a href="/main/experience_list">Experience List</a><br />
    <% else %>
      <span>Your account is pending approval. Please check back soon </span>
    <% end %>
  <% else %>
    
  <% end %>
  	<a href="/main/sign_up">Patron Sign-up</a>
</div>



<div id="content">
	<%= yield %>
</div>

</body>
</html>
